<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Menu</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-row>
    <ion-item>
      <ion-label>
       Bonjour {{user.email}} !
      </ion-label>
    </ion-item>
  </ion-row>

  <ion-row>

    <ion-item>
      <ion-label>
        <ion-button routerLink="/list-produits">Liste des produits</ion-button>
      </ion-label>
    </ion-item>
  </ion-row>

</ion-content>
