<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">




  <form (ngSubmit)="RegisterForm()" #form="ngForm">
    <ion-item>
      <ion-label position="floating">Email : </ion-label>
      <ion-input type="email" [(ngModel)]="user.email"  name="email" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="floating">Password : </ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password" required></ion-input>
    </ion-item>


    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" [disabled]="form.invalid" expand="block">Enregistrer</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-row>
    <ion-col style="text-align: center">
      <h4>Pour un enregistrement valide sur l'api :</h4>
      <p>email : eve.holt@reqres.in</p>
      <p>password : pistol</p>
    </ion-col>
  </ion-row>
</ion-content>
